.waves-effect {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ea6f85;
}


.myTrailer {
    height:720px;
    width:1280px;
}

.container{
    display: flex;

}

.card-action{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    border-radius: 20px;
    background-color: #ea6f85;
}

.brand-logo{
    margin:0 auto;
    text-align: center;
}